<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Findmypast Related Search API Documentation</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="http://www.findmypast.com/favicon.ico" />
  </head>

  <body>
    <h2 align="center">Findmypast Related Search API Documentation</h2>
    <div class="container" role="main">

      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
